body{
	background-color: #26C6DA;
	font-family: 'Raleway', sans-serif;
}


header{
	margin-top: 5%;
	margin-bottom: 5%;
}


h1{
	color: white;
	text-align: center;
}

article{
	background-color: #F1F2E2;
	text-align: center;
	margin: auto;
	width: 50%;
	border-radius: 3%;
}

button{
	background-color: #26C6DA;
	font-family: 'Raleway', sans-serif;
	color: white;
}	

#quote, #citation{
	color: #26C6DA;
}

#quote{
	font-size: 2em;
	padding: 5%;
}

#buttons{
	margin: 2px;
	padding: 3%;
}

#nextquote{
	width: 25%;
}

a {
	text-decoration: none;
	color: white;
}

#twitter{
	width: 25%;
}

/* small devices*/

@media only screen and (min-width: 240px) and (max-width: 768px){

	article{
	background-color: #F1F2E2;
	text-align: center;
	margin: auto;
	width: 80%;
	border-radius: 3%;
	}

	#quote{
	font-size: 120%;
	padding: 2%;
	line-height: 110%;
	}	
}