body{
	background-color: #26C6DA;
	font-family: 'Raleway', sans-serif;
}


header{
	margin-top: 5%;
	margin-bottom: 5%;
}


h1{
	color: white;
	text-align: center;
}

article{
	background-color: #F1F2E2;
	text-align: center;
	margin: auto;
	width: 50%;
	min-height: 360px;
	border-radius: 3%;
}